body{
	color: darkblue;
	background-color: skyblue;
}

body{
	font-family: Arial;
	margin: 0;
	padding: 0;
}

h1{
	font-family: Arial;
	text-align: center;
	margin: 0;
	padding: 10;
}

p{
	text-align: center;
}

sub{
	color: black;
}

.top-area {
  height: 100px;              
  background-color: skyblue; 
  padding-top: 15px;
}


div.content {
  background-color: white;
  min-height: 500px;
}

/*ul.navbar{
	position: absolute;
	top: 2em;
    left: 3em;
    width: 15em;
}*/
ul.navbar {
  display: flex;
  /*width: 100vw;*/
  list-style: none;
  background-color: black;
  margin: 0;
  padding: 0;
  margin-top: -4px;  
}

ul.navbar > li {
  flex: 1;                  
  position: relative;      
}

ul.navbar > li > a {
  display: block;
  text-align: center;
  padding: 15px 0;
  color: white;
  text-decoration: none;
  font-weight: bold;
}


ul.navbar li ul.dropdown-menu {
  display: none;             
  position: absolute;       
  top: 100%;                 
  left: 0;
  width: 100%;              
  list-style: none;
  background-color: #444;
}

ul.navbar li ul.dropdown-menu li a {
  display: block;
  padding: 10px 0;
  text-align: left;
  color: white;
  text-decoration: none;
}

ul.navbar li:hover > ul.dropdown-menu {
  display: block; 
}

@media all {
    body {
        background-color: white;
    }
}

@media print {
    body {
        background-color: white;
        color: black;
    }
}


