body{
	border-radius: 10px;
	background: white;
	display: flex;
    justify-content: center;
    padding: 40px 0;
    font-family: Arial, sans-serif;
}

b{
	color: white;
	font-size: 25px;
	padding-left: 10px;
}

small{
	color: white;
	font-size: 12px;
	padding-left: 10px;
	margin: 0;
	line-height: 1.5;
}

a{
	text-decoration: none;
}

.section-line{
	height: 1.5px;
    width: 95%;
    background-color: white;
    margin: 5px 5px;
    padding-left: 10px;
    padding: 0;
}
.main-container {
    width: 1000px;
    height: 700px;  
    margin: 0 auto;                  
    background-color: white;        
    display: flex;                    
    border-radius: 12px;              
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    overflow: hidden;                 
}

.left-panel {
    flex: 3;
    /*padding: 20px;*/
    background-color: #b0c4de;
    flex-direction: column;
    /*border-radius: 10px;*/
    /*box-sizing: border-box;*/
}

.right-panel {
    flex: 7;
    padding: 20px;
    background-color: white;
}

.nccu{
	padding-left: 8px;
}

.text{
	color: white;
	padding-left: 10px;
	padding-top: 10px;
	font-family: Poppins;
	font-weight: bold;
	font-size: 18px;
}
.contact{
	display: block;
	margin: 0;
}
.contact span{
	display: block;
	/*padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 0px;*/
	margin: 0;
	margin-top: 0;
}

.about-text{
	display: block;
	padding-left: 10px;
	margin: 0;
}

.section-title h2{
	margin: 5px;
	color: black;
	padding-left: 10px;
	padding-top: 10px;
	font-family: Poppins;
	font-weight: bold;
	font-size: 20px;
}

.section-line2{
	height: 1px;
    width: 96%;
    background-color: black;
    margin: 0 auto;
    /*padding-left: 10px;*/
    /*padding: 0;*/
    transform: scaleY(1.2);
    transform-origin: top;
}

.year{
	font-weight: bold;
	color: steelblue;
	font-size: 14px;
	padding-left: 15px;
	margin: 0px;
	line-height: 1.5;
}

.description{
	color: black;
	font-size: 14px;
	padding-left: 15px;
	margin: 0;
	line-height: 1.5;
}

.tag{
	padding: 8px;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 20px;
	color: steelblue;
	background-color: aliceblue;
	font-size: 12px;
	margin: 0px 4px;
}

.logo{
	/*padding-left: 30px;*/
	display: block;
	gap: 20px;
}

.music-text{
	display: block;
	margin-top: 8px;
	color: black;
}

.four{
	display: flex;
	justify-content: space-between;
	width: 90%;
	padding: 10px;
	/*gap: 50px;*/
}

.card{
	text-align: center;
}

.hw-column , .lab-column{
	/*display: block;*/
	flex: 1;
    background-color: #f0f0f0;   
    /*padding: 10px;*/
    border-radius: 12px;
    color: steelblue;
    margin-top: 10px;
    text-align: left;
}

.hw-column a:visited , .lab-column a:visited{
	color: steelblue;
}

.hw-lab{
	display: flex;
	gap: 10px;
	padding-left: 8px;
}

.custom-list a{
	color: steelblue;
	font-family: Times New Roman;
}
.custom-list li::marker{
	color: black;
	font-size: 13px;
}

.title{
	color: #34495E;
	/*text-align: left;*/
	padding-left: 20px;
}

.music-note{
	text-align: left;
	padding-left: 8px;
	margin-top: 20px;
	color: black;
	font-family: Times New Roman;
	font-size: 15px;
}